.masthead {
  background: #000;
  padding: 40px 20px;
  height: 100vh;
  color: white;
  h1{
    text-align: center;
  }
}
.menuContainer{
  display: flex;
  flex-direction: column;
  p{
    font-size: large;
    text-decoration: none;
  }
}
