.masthead {
  background: white;
  padding: 40px 20px;
  color: #000;
  text-align: center;
  .info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-size: 18px;
  }
}
