.masthead {
  background: white;
  padding: 40px 20px;
  color: #000;
  text-align: center;
  .registrationTab{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 5px;
    border: 2px solid #000;
    .photoTab{
      margin-left: 5px;
      background: url("./dummy_user.png") no-repeat center center;
      width: 100px;
      height: 100px;
      background-size: 80%;
      border: 2px solid #000;
    }
    .nameTab{
      margin-left: 5px;
    }
    .numberPNRTab{
      margin-left: 5px;
    }
    .dateTab{
      margin-left: 5px;
    }
    .flightNumberTab{
      margin-left: 5px;
    }
    .informMassage{
      padding: 20px;
      margin: 30px;
    }
  }
}
