@import "../../theme/variables.scss";

.home {
  dd {
    margin-bottom: 15px;
  }
}
.masthead {
  background: #000;
  height: 100vh;
  padding: 40px 20px;
  color: white;
  text-align: center;
  .contentHome{
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    .shares{
      flex-grow: 1;
      background-color: #5bc0de;
      .sharesLogoContainer {
        padding: 20px;
        .sharesLogo {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          align-items: flex-end;
          height: 50px;
          padding: 10px;
        }
      }
    }
    .carusel{
      height: 10%;
    }
  }
}

.counterContainer {
  text-align: center;
  margin: 20px;
}
