.placeContainer {
  width: 50px;
  height: 50px;
  font-size: large;
  display: flex;
  margin-top: 10px;
  margin-bottom: 10px;
  align-items: center;
  background-color: #ffffff;
  .placeLabel {
    margin: auto;
  }

}
.palceActive {
   width: 50px;
  height: 50px;
  font-size: large;
  display: flex;
  margin-top: 10px;
  margin-bottom: 10px;
  align-items: center;
  background-color: #777777;
  color: #FFFFFF;
}