.login {
  background: #000;
  height: 100vh;
  padding: 40px 20px;
  color: #fff;
  text-align: center;
  .loginContent{
    background: #fff;
    padding: 40px 20px;
    color: #000;
    text-align: center;
  }
}
