.app {
  .brand {
    $size: 150px;
    top: 5px;
    left: 5px;
    display: inline-block;
    background: url('../Home/logo.png') no-repeat center center;
    width: 200px;
    height: 50px;
    background-size: 80%;
    margin: 0 10px 0 0;
    border-radius: $size / 2;
  }
  .login{
    margin-right: 50px;
    .loginText{
      color: #000;
      font-size: 40px;
      text-decoration: none;
      &:hover{
        background: #000;
        color: white;
      }
    }
  }
}
