.chooseLocation{
  background-color: #000000;
  .Timer {
    margin: 10px 10px;
  }
  .locationContainer {
    background-color: #000000;
    .locationContainerBox {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-around;
      flex-wrap: wrap;
    }
    .infoPlace {
      color: #FFFFFF;
    }
  }
}
